.hero-container .hero-wrapper {
  max-width: unset;
  padding: 0;
}

.hero {
  position: relative;
  min-height: 300px;
}

.hero > div:has(h1) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 24px;
  background-color: rgb(0 0 0 / 50%);
  border-radius: 8px;
  max-width: 800px;
  z-index: 1;
}

.hero h1 {
  margin: 0;
  color: var(--background-color);
}

.hero picture {
  position: absolute;
  z-index: 0;
  inset: 0;
  object-fit: cover;
  box-sizing: border-box;
}

.hero img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.hero .video.hero-background-video {
  margin: 0;
  max-width: none;
}
